{% extends "base_base.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">

<div class="services-section">
    <div class="inner-width">
        <h1 class="section-title">Crenshaw Assessments</h1>
        <div class="border"></div>
        <div class="services-container">
            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <div class="service-title">QUIZ DESIGN</div>
                <div class="service-desc">
                    Crenshaw has 3 different assessment types. They include behavioural, verbal reasoning and emotional intelligence.<br>
                    <br>Once you have completed the different assessments types, we will gather your data and analyse if your a suitable candidate for the job you are applying for. Our experts will use advanced research skills to see how your skills fit
                    the required workplace.
                </div>
            </div>


            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="service-title">Behavioural Assessments</div>
                <div class="service-desc">
                    <b>Behavioural</b><br> The logic behind this interview tactic is that your behaviour in the past reflects and predicts how you will behave in the future. But remember the interviewer isn’t necessarily asking “yes or no” questions,
                    and so it may help to review how to answer interview questions without a right (or wrong) answer. Respond to these sort of questions with specific examples of how you have previously handled similar situations in the workplace. If
                    you need help please refer to the star method.

                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="service-title">STAR METHOD</div>
                <div class="service-desc">
                    <br>Situation:<br> Describe the situation that you were in or the task that you needed to accomplish. <br> Task:<br> What goal were you working toward? <br>Action: <br>Describe the actions you took to address the situation with an
                    appropriate amount of detail and keep the focus on YOU.
                    <br>Result:<br> Describe the outcome of your actions and don’t be shy about taking credit for your behaviour. What happened? How did the event end?
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-brain"></i>
                </div>
                <div class="service-title">Verbal Reasoning</div>
                <div class="service-desc">
                    <br>Verbal reasoning<br> Verbal reasoning is the ability to understand and logically work through concepts and problems expressed in words. Verbal reasoning tests tell employers how well a candidate can extract and work with meaning,
                    information and implications from text. They provide a useful indication of how you will be perceived by colleagues and, in particular, how you will relate and interact with customers.<br> In this format, you will be given a short
                    text and will have to answer whether the answer to the question is True, False or cannot say regarding the text.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="far fa-sad-cry"></i>
                </div>
                <div class="service-title">Emotional Intelligence</div>
                <div class="service-desc">
                    <br>Emotional Intelligence<br> Our emotional intelligence quiz describes situations that we all experience in our lives .Be as honest as possible when answering the questions as that will provide you with the most accurate assessment
                    of your level of Emotional Intelligence.
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-user-secret"></i>
                </div>
                <div class="service-title">Privacy</div>
                <div class="service-desc">
                    We are committed to compliance with privacy laws which apply to our businesses and which set out standards for the management of personal information. This policy outlines our personal information management practices applying to the personal information.
                    Before using our website, you are required to give specific consent to the processing of your personal data.
                </div>
            </div>


        </div>
    </div>
</div>
</div>
{% endblock %}